textarea {
  resize: none;
	overflow: auto;
  color: #55CDB6;
	border-radius: 6px;
	border: 2px solid #E6ECF0;
	width: 440px;
}
label {
  color: #8996A8;
}
.parserButton {
  background-color: #FFFFFF;
  border: 1px solid #55CDB6;
  width: 200px;
  border-radius:2em;
  color: #55CDB6;
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-family:"Montserrat", sans-serif;
  font-weight: bold;
  cursor: pointer;
}
.resetButton {
	border: 1px solid orange;
	color: orange;
}
button:hover {
  border: 2px solid;
  margin-top: 9px;
  margin-bottom: 9px;
}
button:active{
  border: 3px solid;
  margin-top: 8px;
  margin-bottom: 8px;
}
ul {
  columns: 100px 2;
}
ul b {
  display: inline-block;
  width: 5%;
  position: relative;
  padding-right: 2px; /* Ensures colon does not overlay the text */
}
ul b::after {
  content: ":";
  position: absolute;
  right: 2px;
}
textarea {
  margin-right: 50px;
}
